.header{
    height: 100px;
    background-color: #38383c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
.title{
    padding-left: 20px;
}

.nav{
    /*//width: 300px;*/
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.nav button{
    margin-right: 60px;
}
